body {
    display: flex;
    flex-direction: column;
    background-color: #F3E4C9;
}

#all-posts-sub {
    font-size:30px;
}


main {
    flex: 1;
}

#all-posts-title {
    font-weight: bold;
    font-size: 4.5rem;
    color: black;
}

p {
    font-size: 20px;

}

#section-footer {
    width: 100%;
}

.border-bottom {
    color: black;
}
#blog-logo {
    width: 40;
    height: 36;
}

.container {
    padding: 30px 0;
}

.form-group {
    padding: 10px 0;
    font-size: 1.2rem;
}

.card {
    width: 27rem;
}

.card img {
    height: 300px;
}

#section-post-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 0;
}

#logo-name {
    font-size: 30px
}


#section-post-body {
    background-color: white;
}

.post-num-visited {
    font-weight: normal;
}


/*Flashes category colors */
.success {
    color: green;
}

.error {
    color: red;
}







