#all-posts-title {
    font-weight: bold;
    font-size: 4.5rem;
    color: black;
}


body {
    display: flex;
    flex-direction: column;
    background-image: url('../images/travel-blog-cover.png');
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 0;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#all-posts-sub {
    font-size:30px;
}


main {
    flex: 1;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size: 20px;
}

#section-footer {
    width: 100%;
    background-color: #C08552;
}

.border-bottom {
    color: black;
}
#blog-logo {
    width: 40;
    height: 36;
}

.container {
    padding: 30px 0;
}

.form-group {
    padding: 10px 0;
    font-size: 1.2rem;
}

.card {
    width: 27rem;
}

.card img {
    height: 300px;
}

.add-post-form {
    background-color: #F3E3D0;
}


#section-post-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 0;
}


#section-post-body {
    background-color: white;
}

.post-num-visited {
    font-weight: normal;
}







