{% include 'header.html' %}


<div class="container py-3 py-lg-5 mb-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-10 col-md-9">
            <p class="display-3 pt-5">The Story Behind
                <span class="fst-italic" id="about-us-title">Roam<span class="text-dark">&</span>Write</span>
            </p>
            <p class="pt-2 fs-5">
                A platform that was created with a simple idea in mind &mdash; every journey has a story worth sharing.
                Our network brings together travelers from all over the world to document their experiences,
                reflect on their adventures, and inspire others through authentic storytelling.
            </p>
            <p class="fs-5">
                Here, you'll find more than just destinations &mdash; you'll find personal journeys.
                From the places people visit to the memories they create, each post offers a glimpse into real travel experiences.
                Whether you're looking for inspiration or planning your next trip, Roam&Write is your space to explore, share,
                and connect with <span class="fw-bold">a community of fellow travellers.</span>
            </p>
        </div>

    </div>


</div>

{% include 'footer.html' %}