<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roam&Write</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sunset-logo.png') }}">
    {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    {% endblock %}
</head>
<body>
    <nav class="navbar px-3 px-md-5 py-3">
            <a href="{{ url_for('get_all_posts') }}"
               class="d-flex align-items-center me-auto text-decoration-none gap-2" id="logo-name"
               ondragstart="return false">
                <img src="{{ url_for('static', filename='images/sunset-logo.png') }}" alt="Sunset logo" width="55" height="55" class="d-none d-lg-inline">
                <p class="mb-0">Roam<span class="text-dark">&</span>Write</p>
            </a>
            <ul class="nav nav-pills fs-6 fs-lg-5" ondragstart="return false">
                <li class="nav-item d-none d-lg-flex">
                    <a href="{{ url_for('get_all_posts') }}" class="nav-link all-nav-links" aria-current="page">Home</a>
                </li>
                <li class="nav-item d-none d-lg-flex">
                    <a href="{{ url_for('about') }}" class="nav-link all-nav-links">About</a>
                </li>
                <li class="nav-item d-none d-lg-flex">
                    <a href="{{ url_for('contact') }}" class="nav-link all-nav-links">Reach Out</a>
                </li>
                {% if current_user.is_authenticated %}
                {% if request.endpoint != 'create_post' %}
                <li class="nav-item d-none d-md-flex">
                    <a href="{{ url_for('create_post') }}" class="nav-link all-nav-links">Add Story</a>
                </li>
                {% endif %}
                <li class="nav-item d-flex align-items-center d-none d-md-flex">
                    <div class="vr nav-greeting-divider"></div>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="nav-link nav-greeting">Hi, {{ current_user.first_name }}</span>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link bg-light text-dark">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link all-nav-links">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link bg-light text-dark">Login</a>
                </li>
                {% endif %}
            </ul>
    </nav>
<main>









