{% include 'header.html' %}

<div class="container px-4 px-lg-5">
    <div class="row flex-md-row-reverse align-items-center justify-content-lg-around  g-lg-5 pb-4 py-lg-5 px-4 px-lg-5 px-sm-3">
        <div class="col-lg-3">
            <img src="{{ url_for('static', filename='images/globe-logo.png') }}" class="d-none d-lg-block mx-lg-auto img-fluid"
                 alt="Globe logo" width="300" height="300" loading="lazy" ondragstart="return false">
        </div>
        <div class="col-lg-9 col-md-12">
            <h1 class="display-2 fw-bold text-body-emphasis lh-1 pt-5 mb-3">
                Every Journey Has a
                <span id="all-posts-story">Story.</span>
            </h1>
            <p class="lead fs-3 pe-lg-4">Capture your travel experiences and bring them to life.
                Browse stories from fellow travelers and get inspired for your next destination.</p>
            <div class="d-grid gap-2 d-sm-flex" ondragstart="return false">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('create_post')}}" class="btn btn-light btn-lg px-4 me-md-2 fs-4" role="button">
                    Add Post
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="27" fill="currentColor"
                         class="bi bi-pencil-fill pb-2" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </a>
                {% else %}
                <a href="{{ url_for('login')}}" class="btn btn-dark btn-lg px-4 me-md-2 fs-4" role="button">
                    Start Writing
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="27" fill="currentColor"
                         class="bi bi-pencil-fill pb-2" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="section-home-all-posts">
    <div class="container pt-5 px-4 px-lg-5">
        <div class="row px-4 px-lg-5 px-sm-3">
            <div class="col-12">
                <h2 class="display-5 fw-bold text-body-emphasis pb-3 mb-0 d-flex align-items-center gap-2">
                    Latest Stories
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                         class="bi bi-lightbulb-fill flex-shrink-0" viewBox="0 0 16 16">
                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </h2>
                {% if posts == [] %}
                <p class="fs-5 fs-md-4 pb-3">Nobody has posted yet. Be the first to create some content.</p>
                {% else %}
                <p class="fs-5 fs-md-4 pb-3">Discover what others are exploring right now.</p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center px-4 py-md-5 mb-5 px-sm-3">
            {% for post in posts %}
            <div class="col-12 py-4">
                <a href="{{ url_for('get_post', post_id=post.id) }}" class="text-decoration-none post-card-link d-block mx-auto post-card-max-width"
                   ondragstart="return false">
                    <div class="card p-4">
                        <div class="card-body px-0">
                            <p class="fs-6 fs-md-5 mb-2 opacity-75">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor"
                                     class="bi bi-person-circle pb-1 me-2" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                                Posted by {{ post.user.first_name }} {{ post.user.last_name }} on
                                {{ post.date }}
                            </p>
                            <h5 class="card-title fs-3 fs-sm-2 fs-md-1">{{ post.title }}</h5>
                            <h6 class="card-subtitle fs-5 fs-md-4 fs-lg-3 fst-italic border-bottom border-dark pb-4 mb-4 d-flex align-items-center gap-1">
                                {{ post.location }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                     class="bi bi-geo-alt-fill flex-shrink-0" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                </svg>
                            </h6>
                            <p class="fs-6 fs-md-5 opacity-75 post-comments">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor"
                                     class="bi bi-chat-left py-1 me-2" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                </svg>
                                {{ post.calc_comments_count() }} Comments
                            </p>
                        </div>
                        {% if post.img_url %}
                        <img src="{{ post.img_url }}" alt="Post image" class="img-fluid w-100">
                        {% else %}
                        <img src="{{ url_for('static', filename='./images/no-img.png') }}" alt="No image available" class="img-fluid w-100">
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'footer.html' %}