{% include 'header.html' %}

<header class="masthead">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 id="all-posts-title" class="">My Paradise</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-light" id="all-posts-sub">
                    All posts will go here.
                    Let's add some content.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{{ url_for('create_post')}}" class="btn btn-light btn-lg px-4 gap-3" role="button">Add
                        Post</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container posts-list">
    <div class="row d-flex align-items-center justify-content-center">
        {% for post in posts %}
        <div class="row d-flex align-items-center justify-content-center pb-5">
            <div class="col-5">
                <div class="card border-2 border-dark">
                    {% if post.img_url %}
                    <img src="{{ post.img_url }}" alt="test img"/>
                    {% else %}
                    <img src="{{ url_for('static', filename='./images/no-img.png') }}" alt="test img"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-5">
                <a href="{{ url_for('get_post', post_id=post.id) }}"
                   class="list-group-item list-group-item-action d-flex gap-3 py-3"
                   aria-current="true">
                    <div class="d-flex gap-2 w-100 text-light">
                        <div>
                            <h2 class="mb-0">
                                {{ post.title }}
                            </h2>
                            <h3>{{ post.location }}</h3>
                            <p class="mb-0 opacity-75">{{ post.subtitle }}</p>
                            <p class="mb-0 opacity-75 fst-italic">Written by Kate I. on {{ post.date
                                }}.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        {% endfor %}
    </div>
</div>


{% include 'footer.html' %}