{% include 'header.html' %}

<div class="container px-4 px-lg-5">
    <div class="row flex-md-row-reverse align-items-center justify-content-lg-around g-lg-5 pb-4 py-lg-5 px-4 px-lg-5 px-sm-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-lg-3">
            <img src="{{ url_for('static', filename='images/sunset-logo.png') }}"
                 class="d-none d-lg-block mx-lg-auto img-fluid"
                 alt="Sunset logo" width="300" height="300" loading="lazy" ondragstart="return false">
        </div>
        <div class="col-lg-9 col-md-12">
            <h1 class="display-2 fw-bold text-body-emphasis lh-1 pt-5 mb-3">
                Every Journey Has a
                <span id="all-posts-story">Story.</span>
            </h1>
            <p class="lead fs-3 pe-lg-4">Capture your travel experiences and bring them to life.
                Browse stories from fellow travelers and get inspired for your next destination.</p>
            <div class="d-flex gap-2" ondragstart="return false">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('create_post')}}" class="btn-site" role="button">
                    Add Post
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-fill mb-1" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </a>
                {% else %}
                <a href="{{ url_for('login')}}" class="btn-site" role="button">
                    Start Writing
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-fill mb-1" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="section-home-all-posts">
    <div class="container pt-5 px-4 px-lg-5">
        <div class="row px-4 px-lg-5 px-sm-3">
            <div class="col-12">
                <h2 class="display-5 fw-bold text-body-emphasis pb-3 mb-0 d-flex align-items-center gap-2">Latest
                    Stories</h2>
                {% if posts == [] %}
                <p class="fs-5 fs-md-4 pb-3">Nobody has posted yet. Be the first to create some content.</p>
                {% else %}
                <p class="fs-5 fs-md-4 pb-3">Discover what others are exploring right now.</p>
                {% endif %}
            </div>
        </div>

        {% if posts %}
        {# --- Featured post (first) --- #}
        {% set featured = posts[0] %}
        <div class="row px-4 px-lg-5 px-sm-3 mt-4 mb-5">
            <div class="col-12">
                <a href="{{ url_for('get_post', post_id=featured.id) }}"
                   class="text-decoration-none post-card-link d-block" ondragstart="return false">
                    <div class="card p-0 overflow-hidden featured-card">
                        <div class="row g-0 align-items-stretch">
                            <div class="col-lg-6 featured-img-col">
                                {% if featured.img_url %}
                                <img src="{{ featured.img_url }}" alt="Post image" class="featured-img">
                                {% else %}
                                <img src="{{ url_for('static', filename='./images/no-img.png') }}"
                                     alt="No image available" class="featured-img">
                                {% endif %}
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5">
                                    <p class="fs-6 mb-2 opacity-75 d-flex align-items-center gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                             fill="currentColor"
                                             class="bi bi-person-circle flex-shrink-0" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                        </svg>
                                        <span>{{ featured.user.first_name }} {{ featured.user.last_name[0].capitalize() }}. &mdash; {{ featured.date }}</span>
                                    </p>
                                    <h3 class="card-title fs-2 fw-bold mb-2">{{ featured.title }}</h3>
                                    <p class="fst-italic fs-5 d-flex align-items-center gap-1 mb-4 border-bottom border-dark pb-4">
                                        {{ featured.location }}
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                             class="bi bi-geo-alt-fill flex-shrink-0 icon-inline" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                        </svg>
                                    </p>
                                    <p class="fs-6 opacity-75 mb-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-chat-left me-2" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        </svg>
                                        {{ featured.calc_comments_count() }} Comments
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {# --- Grid of remaining posts --- #}
        {% if posts|length > 1 %}
        <div class="row row-cols-1 row-cols-md-2 g-5 px-4 px-lg-5 px-sm-3 pb-5 mb-5">
            {% for post in posts[1:] %}
            <div class="col">
                <a href="{{ url_for('get_post', post_id=post.id) }}"
                   class="text-decoration-none post-card-link d-block h-100" ondragstart="return false">
                    <div class="card h-100 overflow-hidden p-0">
                        {% if post.img_url %}
                        <img src="{{ post.img_url }}" alt="Post image" class="grid-card-img">
                        {% else %}
                        <img src="{{ url_for('static', filename='./images/no-img.png') }}" alt="No image available"
                             class="grid-card-img">
                        {% endif %}
                        <div class="card-body px-4 pt-3 pb-4">
                            <p class="fs-6 mb-1 opacity-75 d-flex align-items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                     class="bi bi-person-circle flex-shrink-0" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                                <span>{{ post.user.first_name }} {{ post.user.last_name[0].capitalize() }}. &mdash; {{ post.date }}</span>
                            </p>
                            <h5 class="card-title fs-4 fw-bold mb-1">{{ post.title }}</h5>
                            <p class="fst-italic fs-6 d-flex align-items-center gap-1 mb-3 border-bottom border-dark pb-3">
                                {{ post.location }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-geo-alt-fill flex-shrink-0 icon-inline" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                </svg>
                            </p>
                            <p class="fs-6 opacity-75 mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                     class="bi bi-chat-left me-2" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                </svg>
                                {{ post.calc_comments_count() }} Comments
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="pb-5 mb-5"></div>
        {% endif %}

        {% else %}
        <div class="pb-5 mb-5"></div>
        {% endif %}

    </div>
</div>

{% include 'footer.html' %}